In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('sudeste.csv')

In [3]:
df

,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,date,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
0,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 00:00:00,2007-11-06,...,29.7,16.8,25.5,10.8,35.0,58.0,32.0,3.2,101.0,6.5
1,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 01:00:00,2007-11-06,...,29.9,13.6,29.0,12.2,39.0,39.0,35.0,3.6,94.0,6.4
2,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 02:00:00,2007-11-06,...,29.0,14.0,27.4,13.6,44.0,44.0,39.0,2.5,93.0,6.9
3,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 03:00:00,2007-11-06,...,27.4,16.9,25.8,14.1,58.0,58.0,44.0,1.7,96.0,5.8
4,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 04:00:00,2007-11-06,...,26.3,17.0,25.3,16.4,57.0,58.0,56.0,3.1,110.0,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9779163,423,BARUERI,777.0,-23.523890,-46.869450,A755,Barueri,SP,2016-09-30 19:00:00,2016-09-30,...,18.2,12.4,16.3,11.8,76.0,77.0,67.0,0.0,0.0,0.0
9779164,423,BARUERI,777.0,-23.523890,-46.869450,A755,Barueri,SP,2016-09-30 20:00:00,2016-09-30,...,16.8,12.5,15.3,11.7,80.0,80.0,75.0,0.0,0.0,0.0
9779165,423,BARUERI,777.0,-23.523890,-46.869450,A755,Barueri,SP,2016-09-30 21:00:00,2016-09-30,...,15.3,11.9,14.9,11.5,79.0,81.0,79.0,0.0,0.0,0.0
9779166,423,BARUERI,777.0,-23.523890,-46.869450,A755,Barueri,SP,2016-09-30 22:00:00,2016-09-30,...,15.0,11.7,14.4,11.4,82.0,83.0,79.0,0.0,0.0,0.0
9779167,423,BARUERI,777.0,-23.523890,-46.869450,A755,Barueri,SP,2016-09-30 23:00:00,2016-09-30,...,14.6,11.5,14.3,11.2,82.0,82.0,81.0,0.0,0.0,0.0

In [4]:
df.shape

(9779168, 31)

In [5]:
df=pd.read_csv(sudeste.csv)

NameError: name 'sudeste' is not defined

In [6]:
df=pd.read_csv('sudeste.csv')

In [7]:
df.shape

(9779168, 31)